#duty_table td {
   text-align:center;
   padding:5px;
}
#duty_table td.columnHead, #duty_table tr.rowHover {
   background:  #B2DFEE; /* mouse | - */
}
#duty_table {
  border-collapse: collapse;
  border: 1px solid #03476F;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: #DEDEDE; /* tło na dole */
  margin: auto;
}
#duty_table thead td{
   background: #7AC5CD !important; /* nauczyciel nieobecny */
}
#people_list_wrapper, #substitutions_list_wrapper{
   margin-top: 10px;
   overflow-y: scroll;
   width: 650px;
   height: 600px;   
}
#substitutions_list{
  border-collapse: collapse;
  border: 1px solid #03476F;
  font: normal 12px verdana, arial, helvetica, sans-serif;
  color: #363636;
  background: #92C428; /* ??? */
  width: 635px;  
}
#substitutions_table {
  border-collapse: collapse;
  border: 1px solid #03476F;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  /*background: #363636;*/
  background: #DEDEDE; /* tło */
  margin: auto;
}
#substitutions_table thead td, #substitutions_table td:nth-child(1) {
   background: #7AC5CD !important; /* lp */
}
#substitutions_table td:nth-child(2){
   background: #CAE1FF; /*nauczyciele */
}
td, th {
  border: 1px solid #104E8B; /* border */
  padding: .4em;
}
.hovertable td {
   text-align:center;
   padding:5px;
}
.hovertable td.columnHead, .hovertable tr.rowHover, .hovertable td.columnHover {
   background: #B2DFEE; /* mouse | - */
}
.hovertable tr.rowHover td.columnHead, .hovertable td.hover {
   background: #7EC0EE; /* mouse */
}
#center{
	padding: 0 10px 10px 10px;	
}
.column_id{
   width: 20px;
}
.column_teacher{
   width: 300px; 
}
.column_lesson{
	min-width: 60px;
}
#data{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}