html, body{
    height: 100%;
}
#lucky_number{
height: 100px;
font-size: 200px;
text-align: center;
padding-top: 90px;
}

#header {
	position: relative;
	z-index: 1010;
	display: block;
	width: 100%;
}
#Grid .mix{
width: 71px;
height: 20px;
}
#header .container {width: 100%;}
.dropdown-menu{z-index: 99999 !important;}
#Grid2 .mix {width: 190px;}

.twitter-typeahead, .tt-hint, .tt-query, .tt-dropdown-menu{
width: 100%;
}
.twitter-typeahead{top: -2px;}
.typeahead,
.tt-hint {
  width: width: 100%;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.tt-hint {
  color: #999;
  margin-top: 2px;
}
.tt-dropdown-menu {
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 18px;
}
.tt-suggestion + .tt-suggestion {
  font-size: 14px;
  border-top: 1px solid #ccc;
}
.tt-suggestions .user-email {
  float: right;
  font-style: italic;
}
.tt-suggestions .user-name {
  font-size: 20px;
  font-weight: bold;
}
.tt-suggestions .repo-pesel {
  margin: 0;
}
.twitter-typeahead .tt-suggestion.tt-is-under-cursor {
  color: #03739c;
}
.tt-suggestion .row-fluid{
    position: relative;
    top: 13px;
}







.connectedSortable{
	min-height: 100px;
	min-width: 100px; 
}

/*Twitter 3 Parts */
.list-group-item {
position: relative;
display: block;
padding: 10px 30px 10px 15px;
margin-bottom: -1px;
border: 1px solid #dddddd;
}
a.list-group-item.active {
z-index: 2;
color: #ffffff;
background-color: #428bca;
border-color: #428bca;
}
.list-group-item:first-child {
border-top-right-radius: 4px;
border-top-left-radius: 4px;
}
.list-group-item:last-child {
margin-bottom: 0;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}
.list-group-item > .badge {
float: right;
margin-right: -15px;
}
/*/*/

#Grid .mix{opacity: 0; display: none;}
#Grid{margin: 0 0;}

.yearpicker .bar div{
    vertical-align: top;
    font-size: 80px;
    margin-top: -10px;
}
.yearpicker .bar .title{
    text-align: center;
    position: relative;
    font-size: 40px;
    position: relative;
    top: 30px;
}
.yearpicker .years table{
    width: 100%;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: -10px;
}
.yearpicker .years table td{
    border: grey solid 1px;
    font-size: 30px;
}
.yearpicker .years table td:hover{
    background-color: #eee;
    cursor: pointer;
}
.yearpicker .bar .arrow-right{
    text-align: right;
}
.icon-long-arrow-right{
    position: relative;
    text-align: right;
}
.icon-long-arrow-left{
    position: relative;
}
.yearpicker .years table .prev, .yearpicker .years table .next{
    color: #AAA;
}
@media (min-width: 1606px){

}
@media (min-width: 1325px) and (max-width: 1605px) {
    .yearpicker .bar div{
        font-size: 40px;
    }
    .yearpicker .bar .title{
        font-size: 30px;
        top: 15px;
    }
    .yearpicker .years table td{
        font-size: 25px;
    }
}
@media (min-width: 980px) and (max-width: 1325px) {
    .yearpicker .bar div{
        font-size: 40px;
    }
    .yearpicker .bar .title{
        font-size: 20px;
        top: 10px;
    }
    .yearpicker .years table{
        height: 150px;
    }
    .yearpicker .years table td{
        font-size: 20px;
    }    
}
@media (min-width: 768px) and (max-width: 979px) {
    .yearpicker .bar div{
        font-size: 40px;
    }
    .yearpicker .bar .title{
        font-size: 20px;
        top: 10px;
    }
    .yearpicker .years table{
        height: 180px;
    }
    .yearpicker .years table td{
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .yearpicker .bar div::after{
        clear: none;        
    }
    .yearpicker .bar div{
        float: left !important;
        width: 24% !important;
    }
    .yearpicker .bar .title{
        width: 50% !important;
    }
    .yearpicker .bar .row-fluid{
        width: 100% !important;
    }
}
@media (max-width: 480px) {
    .yearpicker .bar div{
        font-size: 50px;
    }
    .yearpicker .bar .title{
        font-size: 30px;
        top: 15px;
    }
    .yearpicker .years table{
        height: 150px;
    }
    .yearpicker .years table td{
        font-size: 20px;
    }
}
@media (max-width: 360px) {
    .yearpicker .bar div{
        font-size: 40px;
    }
    .yearpicker .bar .title{
        font-size: 20px;
        top: 10px;
    }
    .yearpicker .years table td{
        font-size: 15px;
    }
}

#wrapper{
    min-height: 100%;
    background: #FFFFFE;
}
#sidebar #nav > ul > li {
	display: block;
	list-style: none;
}
#sidebar #nav > ul > li.accordion-group {
	border: none;
    overflow: hidden;
}
#sidebar .divider {
	position: relative;
	padding: 0px 10px;
	border-top: 1px solid #777;
	border-bottom: 1px solid #4c4c4c;
	background-color: #666;
	color: #eee;
	text-transform: uppercase;
	font-size: 11px;
}
#sidebar #nav > ul > li > a {
	position: relative;
	display: block;
	outline: none;
	border-bottom: 1px solid #494949;
	color: #aaa;
	text-decoration: none;
	text-shadow: 0px -1px 0px #444;
	transition: all .3s ease;
}
#sidebar #nav > ul > li > a > .text,
#sidebar #nav > ul > li > a > .icon {
	display: inline-block;
	padding: 0;
	vertical-align: top;
	text-transform: capitalize;
	line-height: 24px;
}
#sidebar #nav > ul > li > a > .text { margin: 10px 10px 10px 0px; }
#sidebar #nav > ul > li > a > .icon {
	margin: 14px 10px;
	font-size: 14px;
	line-height: 16px;
}
#sidebar #nav > ul > li > a > .arrow {
	position: absolute;
	top: 13px;
	right: 18px;
	display: block;
	color: #888;
	font-size: 16px;
}
#sidebar #nav > ul > li > a > .label,
#sidebar #nav > ul > li > a > .badge {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
}
#sidebar #nav > ul > li > ul {
	display: block;
	margin: 0;
	background-color: #5e5e5e;
}
#sidebar #nav > ul > li > ul > li > a:hover,
#sidebar #nav > ul > li > ul > li.active > a {
	color: #eb274e; /* +1 */
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15);
}
#sidebar #nav > ul > li > ul > li:first-child > a {
	border-top: none;
	box-shadow: none;
}
#sidebar #nav > ul > li > ul > li > a > .icon {
	margin-right: 3px;
	vertical-align: middle;
	font-size: 8px;
}
#sidebar #nav > ul > li > ul > li {
	position: relative;
	display: block;
	list-style: none;
}
#sidebar #nav > ul > li > ul > li > a {
	display: block;
	padding: 10px 10px 10px 34px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #555;
	color: #ddd;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15);
	transition: color .3s ease;
}
#sidebar #nav > ul > li > a:focus,
#sidebar #nav > ul > li > a:hover,
#sidebar #nav > ul > li.open > a {
	background-color: #585858;
	background-color: rgba(0, 0, 0, 0.05);
	color: #ccc;
}
#sidebar {
	position: absolute;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 220px;
	background-color: #555;
	color: #fff;
}
#sidebar:before {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	display: block;
	width: 220px;
	background-color: #555;
	content: "";
}
#sidebar .nav-tabs {
    position: relative;
    z-index: 9999;
	background-color: #555;
	border: none;
	border-bottom: 1px solid #444;
	margin-bottom: 0;
}
#sidebar .nav-tabs li > a {
	background-color: transparent;
	border-color: transparent;
	border-right: 1px solid #444;
	padding-left: 15px;
	padding-right: 15px;
}
#sidebar .nav-tabs li.active > a { background-color: #555; }
#sidebar .nav-tabs li.active > a:before { border: none; }
#sidebar .nav-tabs li .icon {
	display: block;
	font-size: 18px;
	line-height: 21px;
	color: #999;
	width: 20px;
	text-align: center;
}
#sidebar .nav-tabs li.active .icon { color: #eee; }
#sidebar .tab-content > .tab-pane { padding: 0; overflow-x: hidden;}
#sidebar #nav {
	position: relative;
	margin-bottom: 24px;
}
#sidebar #nav > ul {
	display: block;
	margin: 0;
    padding: 0;
	*zoom: 1;
}
#main {
    position: relative;
    margin-left: 220px;
    min-height: 100%;
}
.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(250, 250, 250);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));
    background-repeat: repeat-x;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}
#footer {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0px;
    background-color: rgb(85, 85, 85);
    color: rgb(170, 170, 170);
    padding: 8px 10px 8px 230px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.widget > header {
    position: relative;
    min-height: 40px;
    border-bottom: 1px solid #000;
    background-color: rgb(85, 85, 85);
}
.widget > header > .title {
    display: inline-block;
    margin: 0px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 14px;
    color: rgb(238, 238, 238);
}
#main > .navbar .breadcrumb {
	display: inline-block;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	background-color: transparent;
	float: left;
}
#main > .navbar .breadcrumb > li.active { color: #dc143c;}
#main > .navbar .breadcrumb > li a {color: #888;}
#main > .navbar .breadcrumb > li a:hover { color: #555; }