/* -- DEFAULTS -- */

div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* -- FLUID GRID STYLES -- */

#Grid{
  margin-bottom: 40px;
  text-align: justify;
  font-size: 0.1px;
}

#Grid li{
  display: inline-block;
  background: #eee;
  width: 23%;
  padding-top: 23%; /* Used instead of height to give elements fluid, width-based height */
  margin-bottom: 2.5%;
}

#Grid:after{
  content: '';
  display: inline-block;
  width: 100%;
  border-top: 10px dashed #922d8d; /* Border added to make element visible for demonstration purposes */
}

#Grid .placeholder{
  padding: 0;
  border-top: 10px solid #922d8d; /* Border added to make element visible for demonstration purposes */
}


/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */

/* 3 COL */

@media (max-width: 800px){
  #Grid li{
    width: 31%;
    padding-top: 31%;
    margin-bottom: 3%;
  }
}

/* 2 COL */

@media (max-width: 600px){
  #Grid li{
    width: 48%;
    padding-top: 48%;
    margin-bottom: 4%;
  }
}

/* SINGLE COL */

@media (max-width: 400px){
  #Grid li{
    width: 100%;
    padding-top: 100%;
    margin-bottom: 5%;
  }
}


/* -- LEGEND STYLES (NOT PART OF GRID FRAMEWORK) -- */

h1{
  font: 600 20px "Helvetica Neue";
  text-align: right;
  text-transform: uppercase;
}

label{
  padding: 8px 15px;
  margin-bottom: 20px;
  display: block;
  font: 100 22px "Helvetica Neue";
  border-left: 10px solid #922d8d;
}

label:last-of-type{
  border-left: 10px dotted #922d8d;
}

p{
  font: 200 15px/1.5em "Helvetica Neue";
  max-width: 400px;
  margin-bottom: 30px;
  color: #333;
}


/*
#inner-wrapper{	pointer-events: none;}
*/
.raptor-layout-toolbar-group .ui-button {
    height: 20px;
}
.raptor-layout-toolbar-group .ui-button-text-icon-primary .ui-button-text {
    padding: 0 16px 0 32px;
}
.raptor-layout-toolbar-group .ui-button-text-only .ui-button-text {
    padding: 1px 16px 10px;
}
.ui-dialog{
    z-index: 13002;
}
.natalia {
    position: fixed;
    display: none;
}
.raptor-plugin-dock-docked{
    top: 40px!important;
}
.row [class*="span"]{
	pointer-events: all;
}
.video div.fluid-width-video-wrapper{
	padding-top: 350px !important;
}

html, body {height: 100%; margin:0; min-width: 219px;}
body{	
	background: #002147;
}
#owlCarousel {opacity: 1!important;}
#owlCarousel .item img{display: block; width: 100%; height: auto; }
.owl-buttons{display: none;}
.owl-pagination{position: relative; top: -34px;margin-bottom: -30px;}
#footer {width:100%; height:60px; background-color: #f5f5f5;}

#header {margin: 0 auto;max-width: 1280px;width: 100%;overflow: hidden; background: #efefef; padding: 0px}
#main{position: relative; padding-bottom:20px; max-width: 1280px; margin: 0 auto;
    /*background: #efefef;*/
    background: #eaeaea;
}

div#inner-wrapper {
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    width: 98%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    background: url('/static/images/background.png') fixed;
    margin: 0 auto -60px;
    overflow: hidden;
}

#header, #main {border: thin solid black; border-top: none;}
#header {border-bottom: none;}
#header, #main{width: 99% !important;}

/*Home Page*/
.article{background: #f2f2f2;}
.container .title{
    font-family: 'Open Sans',sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
}
.author{float: left;font-size: 12px;color: #AAA;}
.timeago{font-size: 12px; color: #AAA; float: right;}
.content{width: 100%;margin: auto;}
#last_news, #best_content, #upcoming_events, #our_successes {height: 413px;overflow: hidden;}
#space{height: 100px;}
.thumbs{width: 100%;line-height: 0;margin: auto;}
.thumb{
    width: 50%;
    display: inline-block;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 767px) {
    .form_wrapper {top: 0; -webkit-border-radius: 0; -moz-border-radius: 0;  border-radius: 0}
    #wrapper { background: #002147 !important;}
}


/**************/
/*Sign in form*/
/**************/
.form_wrapper {
    position: relative;
    top: 100px;
    max-width:450px;
    padding: 19px 29px 10px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);}
.form_wrapper .form_wrapper-heading,
.form_wrapper .checkbox{margin-bottom: 10px;}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;}

.form_wrapper form{
    display:none;
    background:#fff;
    margin: 0;
}
form.active{
    display:block;
}
form.login{
    max-width:350px;
    height: 255px;
}
form.register{
    max-width: 550px;
    height: 630px;
}
form.forgot_password{
    max-width:300px;
    height: 170px;
}
.form_wrapper .column{
    width:47%;
    display: inline-block;
}
.form_wrapper .settings-bottom{padding: 10px 30px;}
.form_wrapper .custom_container{margin-bottom: 10px;}
@media (max-width: 1000px) {
	.syco_tooltip{display: none;}
}


/*Account panel*/
#settings-wrapper {
   border: 1px solid #7da7b4;
   padding: 50px 50px 0 50px;
   width: 600px;
   background: #fff;
   margin: 20px auto 0 auto;
   position: relative;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
   box-shadow: 0 1px 4px rgba(0,0,0,0.2);
   zoom: 1;

}
.settings-bottom {
   background: #efefef;
   z-index: 2;
   padding: 20px;
   min-height: 50px;
   margin: 0 -50px 0 -50px;
   border-top: 1px solid #cdcdcd;
   -webkit-border-radius: 0 0 5px 5px;
   -moz-border-radius: 0 0 5px 5px;
   border-radius: 0 0 5px 5px;
   zoom: 1;
}
.tabs {
width: 100%;
border-bottom: 1px solid #ccc;
display: table;
}
.tabs, .pills {
margin: 0 0 20px;
padding: 0;
list-style: none;
zoom: 1;
}
.tabs>li {
position: relative;
top: 1px;
}
.tabs>li, .pills>li {
float: left;
}
li {
line-height: 18px;
}
.tabs.big>li:first-child a {
-webkit-border-radius: 4px 0 0 0;
-moz-border-radius: 4px 0 0 0;
border-radius: 4px 0 0 0;
}

.tabs.big>li>a {
text-shadow: 0 1px 0 #fff;
background-color: #efefef;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
background-image: -moz-linear-gradient(top, #fff, #efefef);
background-image: -ms-linear-gradient(top, #fff, #efefef);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #efefef));
background-image: -webkit-linear-gradient(top, #fff, #efefef);
background-image: -o-linear-gradient(top, #fff, #efefef);
background-image: linear-gradient(top, #fff, #efefef);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0);
border: 1px solid #ccc;
margin-right: -1px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.tabs>li>a {
margin-right: 2px;
padding: 0 15px;
line-height: 35px;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #999;
}
.tabs>li>a, .pills>li>a {
display: block;
}
.settings_container {
min-height: 250px;
width: 500px;
margin: 0 auto;}
.ui-state-active a{
   background: #fff !important;
   border-bottom: 1px solid #fff !important;}
#settings-wrapper a{outline:none}


.cogwheel {
position: relative;
height: 24px;
width: 24px;
top: 7px;
padding: 0!important;
background: url("/static/cogwheel.png");}
.cogwheel:hover{
   background: url("/static/cogwheel_a.png");
}

.settings_header {
border-bottom: 1px solid #ebebeb;
color: #666;
font-size: 20px;
margin: 10px 0;
}

#settings-wrapper table td{
   width: 50%;
}

/*Bootstrap 3 fixes*/
.navbar {min-height: 20px!important;}
.navbar-nav > li > a {line-height: 10px!important;}
.navbar-brand {line-height: 10px!important;}
.navbar {
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -o-linear-gradient(top, #222222, #111111);
}
.navbar-brand {font-size: 20px!important;}
#header{margin-top: 40px;}
.navbar .container{max-width: 1280px;width: auto;}

@media (max-width: 767px) {
    .hidden-phone {
display: none !important;
}
}

div .lucky_number {
    border: 1px solid;
    text-align: center;
}

.lucky_number_number {
    font-size: 140px;
    width: 200px;
    height: 175px;
    border-bottom: 2px solid #ff0066;
}

.lucky_number_date {
    font-size: 30px;
}
