.articles img{
width: 100%;
}
.articles iframe{
border: none;
}

/* ANIMATIONS */
@-webkit-keyframes slidein {
  from {
    margin-left: 0;
  }

  to {
    margin-left: -128px;
  }
}
@keyframes slidein {
  from {
    margin-left: 0;
  }

  to {
    margin-left: -128px;
  }
}
.important{background: #3b5998; color: #FFF; font-style: oblique; height: 20px; overflow: hidden;}
.important::before {
    -webkit-animation-duration: 3s;
    -webkit-animation-name: slidein;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    min-width: 644px;
    display: block;
    content: "*** NEWS *** PILNE *** NEWS *** PILNE *** NEWS *** PILNE *** NEWS *** PILNE *** NEWS *** PILNE *** NEWS *** PILNE *** NEWS *** PILNE *** NEWS *** PILNE"
}
/* -- DEFAULTS -- */

div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* -- FLUID GRID STYLES -- */

#Grid{
  margin-bottom: 40px;
  text-align: justify;
  font-size: 0.1px;
}

#Grid li{
  display: inline-block;
  background: #ddd;
  width: 23%;
  /*padding-top: 17%; Used instead of height to give elements fluid, width-based height */
  margin-bottom: 2.5%;
  vertical-align: top;
}

#Grid:after{
  content: '';
  display: inline-block;
  width: 100%;
}

#Grid img{
    position: absolute;
    display: block;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.athumbnail{
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height: 0;
    padding: 66.25% 0 0 0;
    overflow: hidden;
}
div.caption{
    position: absolute; /* absolute position (so we can position it where we want)*/
    bottom: 0; /* position will be on bottom */
    left: 0;
    width: 100%;
}
.caption p{
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    z-index: 100;
    padding: 7px;
    font-size: 20px;
    font-family: monospace;
    text-align: right;
    /*padding: absolute; /* absolute position (so we can position it where we want)*/
    /*bottom: 0px; /* position will be on bottom */
    /*left: 0px;
    width: 100%;*/
    margin:0px;
}


/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */

/* 3 COL */

@media (max-width: 994px){
  #Grid li{
    width: 31%;
    margin-bottom: 3%;
  }
}

/* 2 COL */

@media (max-width: 760px){
  #Grid li{
    width: 48%;
    margin-bottom: 4%;
  }
}

/* SINGLE COL */

@media (max-width: 500px){
  #Grid li{
    width: 100%;
    margin-bottom: 5%;
  }
}

/*
#inner-wrapper{	pointer-events: none;}
*/
.raptor-layout-toolbar-group .ui-button {
    height: 20px;
}
.raptor-layout-toolbar-group .ui-button-text-icon-primary .ui-button-text {
    padding: 0 16px 0 32px;
}
.raptor-layout-toolbar-group .ui-button-text-only .ui-button-text {
    padding: 1px 16px 10px;
}
.ui-dialog{
    z-index: 13002;
}
.natalia {
    position: fixed;
    display: none;
}
.raptor-plugin-dock-docked{
    top: 40px!important;
}
.row [class*="span"]{
	pointer-events: all;
}
.video div.fluid-width-video-wrapper{
	padding-top: 350px !important;
}

html, body {height: 100%; margin:0; min-width: 219px;}
body{	
	background: #002147;
}
#owlCarousel {opacity: 1!important;}
#owlCarousel .item img{display: block; width: 100%; height: auto; }
.owl-buttons{display: none;}
.owl-pagination{position: relative; top: -34px;margin-bottom: -30px;}
#footer {width:100%; height:60px; background-color: #f5f5f5;}

#header {margin: 0 auto;max-width: 1280px;width: 100%;overflow: hidden; background: #efefef; padding: 0px}
#main{position: relative; padding-bottom:20px; max-width: 1280px; margin: 0 auto;
    /*background: #efefef;*/
    background: #eaeaea;
}

div#inner-wrapper {
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    width: 98%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    background: url('/static/images/background.png') fixed;
    margin: 0 auto -60px;
    overflow: hidden;
}

#header, #main {border: thin solid black; border-top: none;}
#header {border-bottom: none;}
#header, #main{width: 99% !important;}

/*Home Page*/
.article{background: #f2f2f2;}
.container .title{
    font-family: 'Open Sans',sans-serif;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
}
.author{float: left;font-size: 12px;color: #AAA;}
.timeago{font-size: 12px; color: #AAA; float: right;}
.content{width: 100%;margin: auto;}
#last_news, #best_content, #upcoming_events, #our_successes {height: 413px;overflow: hidden;}
#space{height: 100px;}
.thumbs{width: 100%;line-height: 0;margin: auto;}
.thumb{
    width: 50%;
    display: inline-block;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 767px) {
    .form_wrapper {top: 0; -webkit-border-radius: 0; -moz-border-radius: 0;  border-radius: 0}
    #wrapper { background: #002147 !important;}
}


/**************/
/*Sign in form*/
/**************/
.form_wrapper {
    position: relative;
    top: 100px;
    max-width:450px;
    padding: 19px 29px 10px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);}
.form_wrapper .form_wrapper-heading,
.form_wrapper .checkbox{margin-bottom: 10px;}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;}

.form_wrapper form{
    display:none;
    background:#fff;
    margin: 0;
}
form.active{
    display:block;
}
form.login{
    max-width:350px;
}
form.register{
    max-width: 550px;
}
form.forgot_password{
    max-width:300px;
}
.form_wrapper .column{
    width:47%;
    display: inline-block;
}
.form_wrapper .settings-bottom{padding: 10px 30px;}
.form_wrapper .custom_container{margin-bottom: 10px;}
@media (max-width: 1000px) {
	.syco_tooltip{display: none;}
}


/*Account panel*/
#settings-wrapper {
   border: 1px solid #7da7b4;
   padding: 50px 50px 0 50px;
   width: 600px;
   background: #fff;
   margin: 20px auto 0 auto;
   position: relative;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
   box-shadow: 0 1px 4px rgba(0,0,0,0.2);
   zoom: 1;

}
.settings-bottom {
   background: #efefef;
   z-index: 2;
   padding: 20px;
   min-height: 50px;
   margin: 0 -50px 0 -50px;
   border-top: 1px solid #cdcdcd;
   -webkit-border-radius: 0 0 5px 5px;
   -moz-border-radius: 0 0 5px 5px;
   border-radius: 0 0 5px 5px;
   zoom: 1;
}
.tabs {
width: 100%;
border-bottom: 1px solid #ccc;
display: table;
}
.tabs, .pills {
margin: 0 0 20px;
padding: 0;
list-style: none;
zoom: 1;
}
.tabs>li {
position: relative;
top: 1px;
}
.tabs>li, .pills>li {
float: left;
}
li {
line-height: 18px;
}
.tabs.big>li:first-child a {
-webkit-border-radius: 4px 0 0 0;
-moz-border-radius: 4px 0 0 0;
border-radius: 4px 0 0 0;
}

.tabs.big>li>a {
text-shadow: 0 1px 0 #fff;
background-color: #efefef;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
background-image: -moz-linear-gradient(top, #fff, #efefef);
background-image: -ms-linear-gradient(top, #fff, #efefef);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #efefef));
background-image: -webkit-linear-gradient(top, #fff, #efefef);
background-image: -o-linear-gradient(top, #fff, #efefef);
background-image: linear-gradient(top, #fff, #efefef);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0);
border: 1px solid #ccc;
margin-right: -1px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.tabs>li>a {
margin-right: 2px;
padding: 0 15px;
line-height: 35px;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #999;
}
.tabs>li>a, .pills>li>a {
display: block;
}
.settings_container {
min-height: 250px;
width: 500px;
margin: 0 auto;}
.ui-state-active a{
   background: #fff !important;
   border-bottom: 1px solid #fff !important;}
#settings-wrapper a{outline:none}


.cogwheel {
position: relative;
height: 24px;
width: 24px;
top: 7px;
padding: 0!important;
background: url("/static/cogwheel.png");}
.cogwheel:hover{
   background: url("/static/cogwheel_a.png");
}

.settings_header {
border-bottom: 1px solid #ebebeb;
color: #666;
font-size: 20px;
margin: 10px 0;
}

#settings-wrapper table td{
   width: 50%;
}

/*Bootstrap 3 fixes*/
.navbar {min-height: 20px!important;}
.navbar-nav > li > a {line-height: 10px!important;}
.navbar-brand {line-height: 10px!important;}
.navbar {
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -o-linear-gradient(top, #222222, #111111);
}
.navbar-brand {font-size: 20px!important;}
#wrapper{margin-top: 40px;}
.navbar .container{max-width: 1280px;width: auto;}

@media (max-width: 767px) {
    .hidden-phone {
display: none !important;
}
}

div .lucky_number {
    border: 1px solid;
    text-align: center;
}

.lucky_number_number {
    font-size: 140px;
    width: 200px;
    height: 175px;
    border-bottom: 2px solid #ff0066;
}

.lucky_number_date {
    font-size: 30px;
}

#header {
    max-width: 1050px;
    border: none;
    background: #FFF;
    max-height: 335px;
}

#header img {
    max-width: 1050px;
}

#main {
    max-width: 1050px;
    border: none;
    background: #FFF
}

#footer {
    background: #FFF
}

#masthead a {
    padding: 4px;
    color: #707070;
}

#masthead .active a {
    text-decoration: none;
    color: black;
}

#masthead {
    position: relative;
    top: -7px;
    border-bottom: solid 1px lightgrey;
}

.nav-stacked > li > a {
    padding: 4px;
    color: #606060;
    border-bottom: solid 1px #E0E0E0;
}

.article .title {
    font-size: 1.4em;
    font-weight: normal;
    color: #555;
    font-family: Arial;
    text-align: left;
    line-height: 20px;
}

.article {
    background: #FFF
}

.readmore-js-toggle{
    font-weight: bold;
    padding: 2px 5px 2px 10px;
    margin-top: 5px;
    text-decoration: none;
    color: #095197;
    border: 1px solid #DDD;
    background: #EEE;
    display: inline-block;
    width: 100%;
}

.readmore-js-toggle:hover {
    background: #444;
    color: #FFF
}

.readmore-js-expanded {
    height: 100% !important;
}

.published {
    font-size: 12px;
}

#login-form li {
    list-style: none;
    margin-left: -40px;
    font-size: 13px;
}

@media (min-width: 992px) {
    #menu {
        width: 23%;
    }

    #article_main {
        width: 52%;
    }
}

.timeago, .author {
    font-size: 13px !important;
    color: #888;
    margin-top: -10px;
    min-width: 10px;
}

span {
    font-size: inherit !important;
}

p {
    margin: 0 !important;
    padding-left: 0 !important;
    text-indent: 0 !important;
}

.article .panel-heading {
    background: #DEDEDE;
}

.lucky_number {
    font-size: 140px;
    border: none !important;
    width: 100% !important;
    color: #444;
    margin-top: -30px;
}

.lucky_number_date {
    margin-top: -50px;
    text-align: center;
    color: #BBB;
}
